html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  background-color: rgb(202, 202, 202);
  background-image: url("img/header_pcb.png");
  color: rgb(255, 255, 255);
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  min-height: 2cm;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 20px;
  border: gainsboro 1px solid;
  border-radius: 10px;
}

nav {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

main {
  border-image-width: 50%;
  display: flex;
  background-image: linear-gradient(white, rgb(148, 148, 148), #202020);
  margin-left: -8px;
  margin-right: -8px;
}

section {
  width: 70%;
  flex: 2.5;
  margin-right: 25px;
  margin-left: 8px;
  margin-bottom: 20px;
}

aside {
  width: 20%;
  flex: 1;
  display: flex;
  margin-bottom: 20px;
  margin-right: 8px;
}

article {
  background-color: #eeeeee;
  padding: 10px;
  border: 2px solid gainsboro;
  border-radius: 20px;
}
article + article {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin-top: 10px;
}
aside > article {
  background-color: rgb(238, 238, 238);
  margin: 0px;
  padding: 15px;
}

footer {
  background-color: #202020;
  color: white;
  min-height: 350px;
  padding: 20px;
  margin: -8px -8px -8px;
}

/*menu*/
nav>a{
  flex: 1;
}
nav > a > div{
  transition: 1s;
  background-color: gainsboro;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
  border: 1px  solid rgba(170, 170, 170, 0.35);
  border-radius: 20px;
}
nav > a > div:hover {
  transition: 1s;
  background-color: gray;
  cursor: pointer;
}
/*--------*/

main > section > article > img {
  max-width: 50%;
}

img {
  -webkit-user-drag: none;
  border-radius: 10px;
}

ul {
  list-style-type: disc;
}

a {
  color: inherit;
  text-decoration: none;
}

footer > a {
  color: rgb(65, 65, 255);
}

header h1::before{
  content: "Elektronika";
}

#go_to_top img{
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 0.1vw solid black;
  border-radius: 30%;
  width: 13mm;
  height: 13mm;
  min-width: 3%;
  min-height: 4%;
}

/*formularz*/
#formularz {
  color: black;
}
#formularz input[type=submit]
{
  width: 100px;
}
#formularz input[type=reset]
{
  width: 100px;
}
#formularz textarea
{
  border-radius: 15px;
}
#formularz input
{
  border-radius: 8px;
  border-width: 1px;
}

/*
img:hover
{
	cursor: zoom-in;
}
img:active
{
	transform: scale(2);
}
*/